table{
    width: 100%;
   }
   
   .mat-column-email {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 17% !important;
     width: 17% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }

   .mat-column-branch {
    padding-right: 15px;
  }

  .mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 14% !important;
    width: 14% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }