
  .loading {
    width: 45px;
    height: 40px;
    line-height: 5px;
    font-size: 12px;
    margin-left: 10px;
    background: transparent url("/assets/images/icons/default.gif") no-repeat scroll top left content-box !important;
  }