table{
    width: 100%;
   }
   
   .mat-column-Name {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 24% !important;
     width: 24% !important;
     padding-right: 15px;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }

   .mat-column-select_all {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    padding-right: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }