<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 px-10 py-2 border-b border-gray-300 bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500 text-sm">System Activities</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500 text-sm">Collection Users</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-0">
                <h2 class="text-xl md:text-xl sm:text-xl font-extrabold tracking-tight truncate">
                    Collection Users
                </h2>
            </div>
        </div>
    </div>

    <div class="mat-card mx-4 my-4 p-4 mat-elevation-z2 rounded-md" fxLayout="column" fxLayoutAlign="start">
        <app-table-loader *ngIf="isLoading"></app-table-loader>
        <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!isLoading">

            <button
                [routerLink]="['/xmobileadmin/system-activities/collection-users/create']"
                [@animate]="{value:'*', params:{duration:'300ms',delay:'100ms',scale:'.5'}}"
                class="px-6 ml-3 mt-1 rounded-lg"
                mat-raised-button
                [color]="'primary'">
                <mat-icon class="icon-size-8" [svgIcon]="'mat_solid:add_circle'"></mat-icon>&nbsp;
                        Create Collection User
            </button>

            <mat-form-field appearance="outline" fxFlex="28" class="text-xs">
                <mat-label>Quick Search</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Who are you looking for?">
                <span matSuffix><mat-icon class="s-20">search</mat-icon></span>
            </mat-form-field>
        </div>
        <div #TableContainer class="mt-0 hidden" fxLayout="column" fxLayoutAlign="start" fxFlex="100">
            <mat-table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}">

                    <ng-container matColumnDef="username">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                          <div class="font-bold text-black dark:text-gray-400">Username</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div class="text-sm"> {{row.username}} </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fullname">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                          <div class="font-bold text-black dark:text-gray-400">Fullname</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div class="text-sm"> {{row.firstname}}&nbsp;{{row.lastname}}</div>
                        </mat-cell>
                    </ng-container>

                      <ng-container matColumnDef="phone_number">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="font-bold text-black dark:text-gray-400">Phone Number</div>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                              <div class="text-sm"> {{row.phone}} </div>
                          </mat-cell>
                      </ng-container>
                  
                      <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                          <div class="text-bold text-black dark:text-gray-400">Email </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> 
                           <div class="text-sm"> {{row.email}}</div> 
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="collection_type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                          <div class="text-bold text-black dark:text-gray-400">Collection Type </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> 
                           <div class="text-sm"> {{row.collectionType}}</div> 
                        </mat-cell>
                      </ng-container>

                          <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                              <div class="text-bold text-black dark:text-gray-400">Status</div>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> 
                               <div [ngClass]="{'text-green-600': row.status ==='A','text-red-600': row.status ==='D'}" class="text-sm"> 
                                  {{row.status === 'A' ? 'Active' : 'Blocked'}}
                               </div> 
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef>
                                <div class="text-bold text-black dark:text-gray-400">ACTIONS</div>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> 
                                <button matTooltip="View more details" matTooltipClass="col-user-mat-tooltip" mat-icon-button class="text-orange-500 my-0.5 text-sm" (click)="viewUserDetails(row)"><mat-icon class="icon-size-5 text-orange-500" svgIcon="heroicons_outline:desktop-computer"></mat-icon></button>&nbsp;
                                <button matTooltip="Edit" matTooltipClass="col-user-mat-tooltip" mat-icon-button class="text-blue-600 my-0.5 text-sm" (click)="editCollectionUser(row)"><mat-icon class="icon-size-5 text-blue-600" svgIcon="heroicons_outline:pencil"></mat-icon></button>&nbsp;
                                <button matTooltip="Reset password" matTooltipClass="col-user-mat-tooltip" mat-icon-button class="text-green-600 my-0.5 text-sm" (click)="resetUserPassword(row)"><mat-icon class="icon-size-5 text-green-600" svgIcon="heroicons_solid:lock-open"></mat-icon></button>
                            </mat-cell>
                          </ng-container>
                  


                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;">
                              </mat-row>
            </mat-table>
            <div class="p-8 text-2xl text-blue-600 font-semibold text-center" *ngIf="isResultEmpty">
                <mat-icon svgIcon="heroicons_solid:exclamation" class="icon-size-16 text-blue-400"></mat-icon>
                <div>No records found</div>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
        
    </div>
</div>